.hidden {
  opacity: 0;
}

@keyframes slide-in-left {
    from {opacity: 0; transform: translateX(-100%);}
    to {opacity: 1; transform: translateX(0);}
}

@keyframes slide-in-right {
    from {opacity: 0; transform: translateX(100%);}
    to {opacity: 1; transform: translateX(0);}
}

@keyframes slide-in-bottom {
    from {opacity: 0; transform: translateY(100%);}
    to {opacity: 1; transform: translateY(0);}
}

@keyframes slide-in-top {
    from {opacity: 0; transform: translateY(-100%);}
    to {opacity: 1; transform: translateY(0);}
}

.animate-in-left {animation: slide-in-left;}
.animate-in-right {animation: slide-in-right;}
.animate-in-bottom {animation: slide-in-bottom;}
.animate-in-top {animation: slide-in-bottom;}
