.section {
  @include m('crescent-court') {
    z-index: 999;
    position: relative;
    .inner-container {
      position: relative;
      margin-top: -100px;
      z-index: 10;
    }
    @media (min-width: 1024px) {
      .section__title {
        top: -100px;
        text-align: left;
        @include m('pos-left') {
          left: -$column-spacing-outer;
          h1 {
            margin-left: -80px;
          }
        }
      }
    }
  }
}

.reservation-info {
  &.reservation-mobile {
    margin-top: 40px;
  }
  @media (min-width: 1024px) {
    position: absolute;
    bottom: 0;
    padding-right: 30px;
    &.reservation-desktop {display: block;}
    &.reservation-mobile {display: none;}
  }
  @media (max-width: 1023px) {
    &.reservation-desktop {display: none;}
    &.reservation-mobile {display: block;}
  }
  p {
    font-size: 12px;
    line-height: 24px;
    color: #666666;
    font-weight: 500;
    margin: 0;
    + p {
      margin-top: 30px;
      @media (max-width: 1023px) {
        margin-top: 10px;
        font-size: 12px;
      }
    }
  }
}
