.section {
  @include m('event-schedule') {
    .section__content {
      padding-top: 0;
    }
    .section__image {
      margin-top: 110px;
      @media (max-width: 1023px) {
        margin-top: 50px;
        max-height: 250px;
        overflow: hidden;
        display: none;
      }
    }
  }
}
