.header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  transition: top 0.2s ease-in-out;
  &.header-pin:not(.show-top) {
    .header__top {
      overflow: hidden;
      position: relative;
      margin-top: -54px;
    }
  }
  &.header-unpin {
    &:not(.show-top) {
      .header__top {
      }
      top: -88px;
    }
  }
  .header__top {
    transition: all 0.1s ease-in-out;
    &.show-top {

    }
  }
  @include e('top') {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: $base-white-color;
  }
  @include e('bottom') {
    background-color: $base-dark-color;
  }
  @include e('container') {
    @include site-container();
  }
  @include e('navigation') {
    text-align: center;
  }
  @include e('menu') {
    list-style: none;
    margin: 0;
    padding: 0;
    @include e('item') {
      display: inline-block;
      @include font-size($menu-font-sizes); // _shared-variables.scss
      line-height: 34px;
      text-transform: uppercase;
      padding: 0 10px;
      width: 140px;
      a {
        position: relative;
        text-decoration: none;
        color: white;
        padding: 0 15px;
        display: block;
        span {
          display: block;
          transition: all 0.1s ease-in-out;
          transform: scale(1);
        }
        &:before,
        &:after {
          display: inline-block;
          position: absolute;
          top: 50%;
          margin-top: -17px;
          opacity: 0;
          transition: transform 0.3s, opacity 0.2s;
        }
        &:before {
          content: '[';
          left: 0;
          transform: translateX(10px);
        }
        &:after {
          right: 0;
          content: ']';
          transform: translateX(-10px);
        }
        &:hover {
          span {transform: scale(0.9);}
          &:before,
          &:after {
            opacity: 1;
            transform: translateX(0px);
          }
        }
      }
      @include m('active') {
        color: white;
      }
    }
  }
}
