.header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  transition: top 0.2s ease-in-out;
  &.header-pin {
    
  }
  &.header-unpin {
    top: -88px;
  }
  @include e('top') {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: $base-white-color;
  }
  @include e('bottom') {
    background-color: $base-dark-color;
  }
  @include e('container') {
    @include site-container();
  }
  @include e('navigation') {
    text-align: center;
  }
  @include e('menu') {
    list-style: none;
    margin: 0;
    padding: 0;
    @include e('item') {
      display: inline-block;
      @include font-size($menu-font-sizes); // _shared-variables.scss
      line-height: 34px;
      text-transform: uppercase;
      padding: 0 10px;
      width: 140px;
      a {
        text-decoration: none;
        color: white;
        padding: 0 15px;
        display: block;
      }
      @include m('active') {
        color: white;
      }
    }
  }
}
