.btn {
  padding: 0 40px;
  line-height: 50px;
  display: inline-block;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.1s ease-in-out;
  @include m('white') {
    border-color: $base-white-color;
    color: $base-white-color;
    &:hover,
    &:focus {
      background-color: $base-white-color;
      color: $base-dark-color;
    }
  }
}

.text-link {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 700;
  @include font-size($link-font-sizes);
  @include m('small') {
    @include font-size($intro-font-sizes);
  }
  @include m('white') {
    color: $base-white-color;
  }
  @include m('black') {
    color: $base-dark-color;
  }
}
